
.wrapper {
    margin: 20px;
    width: 1200px;
    height: fit-content;
}

h1 {
    text-align: center; 
}

.box{
    width: 200px;
    height: 150px;
    background-color:rgb(62, 195, 240);
    display: inline-block;
    margin: 10px;
}


